<h1 class="mat-display-3" translate>SHOWCASE.DEMO.TABLE.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer exampleTitle="SHOWCASE.DEMO.TABLE.REGULAR"
					filesPath="table/regular/table"
					[extensions]="['HTML', 'TS']">
		<showcase-table-regular></showcase-table-regular>
	</example-viewer>

	<example-viewer exampleTitle="SHOWCASE.DEMO.TABLE.WITH_CUSTOM_ACTIONS"
					filesPath="table/with-custom-actions/table"
					[extensions]="['HTML', 'TS']">
		<showcase-table-with-custom-actions></showcase-table-with-custom-actions>
	</example-viewer>
</section>
<stark-reference-block [links]="referenceList"></stark-reference-block>

