$button-spacing: 10px;

.stark-generic-search {
  .stark-fold-up-item {
    transition: all 0.4s;

    /* animation trigger */
    &.stark-fold-up {
      max-height: 0;
      opacity: 0;
    }
  }

  .form-actions {
    display: flex;
    flex-wrap: wrap;

    margin: -$button-spacing;

    button {
      margin: $button-spacing;
      width: calc(100% - #{$button-spacing} * 2);

      font-size: 20px;
      line-height: 48px;
    }

    @media #{$tablet-query} {
      justify-content: flex-end;
      button {
        font-size: 13px;
        line-height: 34px;
        width: auto;
      }
    }
  }
}
